@model List<WebApp.ViewModels.EpisodeViewModel>
@using WebApp.Helpers
@{
    ViewBag.Title = "Index";
}

<script src="~/Content/script/popupScript.js?v=2"></script>
<script src="~/Content/script/chartScript.js?v=2"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>



    <table>
        <tr>
            <th></th>
            <th title="@Html.ToolTipFor(m => Model.FirstOrDefault().EpisodeType)">@Html.LabelFor(model => Model.FirstOrDefault().EpisodeType)</th>
            <th title="@Html.ToolTipFor(m => Model.FirstOrDefault().Transmissions)">@Html.LabelFor(model => Model.FirstOrDefault().Transmissions)</th>
            <th title="@Html.ToolTipFor(m => Model.FirstOrDefault().ProcentTransmission)">@Html.LabelFor(model => Model.FirstOrDefault().ProcentTransmission)</th>
        </tr>
        @foreach (var typeModel in Model)
        {
            <tr>
                <td class="graphInputButton"> <input type="image" class='graphButton' img src="~/Content/img/graph_icon.png" title="Show graph" onclick="overlay('@typeModel.EpisodeType','@typeModel.Transmissions')"></td>
                <td>@Html.DisplayFor(modelItem => typeModel.EpisodeType) </td>
                <td class="cellWithNumber">@Html.DisplayFor(modelItem => typeModel.Transmissions)</td>
                <td class="cellWithNumber">@Html.DisplayFor(modelItem => typeModel.ProcentTransmission) %</td>
            </tr>
        }
    </table>


<div id="overlay">
    <div>
        <a title="Close" onclick="overlay('close')" class="close">X</a>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        <table id="datatable" style="visibility:hidden">
            <thead id="graphHead">
            </thead>
            <tbody id="graphData">
            </tbody>
        </table>
    </div>
</div>
