@model List<WebApp.ViewModels.EpisodeViewModel>
@using WebApp.Helpers
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script src="~/Content/script/popupScript.js?v=2"></script>
<script src="~/Content/script/chartScript.js?v=2"></script>
<script src="~/Content/script/popupPatientScript.js?v=2"></script>
<script src="~/Content/script/datePickerScript.js?v=3"></script>
<script src="~/Content/script/dropdownScript.js?v=1"></script>

<div class="nav">
    <ul>
        <li class="episodeAdmin">@Html.ActionLink("Episode Administration", "Index", "Episode", new { area = "" }, new { @class = "navbar-brand-active" })</li>
        <li class="batteryAdmin">@Html.ActionLink("Battery Administration", "Index", "Battery", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li class="batteryAdmin">@Html.ActionLink("Transmission Administration", "Index", "Transmission", new { area = "" }, new { @class = "navbar-brand" })</li>
    </ul>
</div>

<div class="datePicker">
    <p class="date-picker1">Date from:</p>
    <input id="dpb" class='date-picker1' value="@Model.FirstOrDefault().EpisodeDateMin" onchange="alertFunction()" />
    <p class="date-picker2">Date to:</p>
    <input id="dpe" class='date-picker2' value="@Model.FirstOrDefault().EpisodeDateMax" onchange="alertFunction()" />
</div>
<div class="patientButton">
    <button type="button" id="opener" class="patientButton">Choose Patient</button>
</div>


    <table>
        <thead>
            <tr>
                <th></th>
                <th title="@Html.ToolTipFor(m => Model.FirstOrDefault().EpisodeType)" class="dropdown">
                    @Html.LabelFor(model => Model.FirstOrDefault().EpisodeType)

                    <ul id="episodeCheck" class="dropdown-list">

                    </ul>
                </th>
                <th id="thTransmission" title="@Html.ToolTipFor(m => Model.FirstOrDefault().Transmissions)">@Html.LabelFor(model => Model.FirstOrDefault().Transmissions)  (@Model.FirstOrDefault().TotalTransmissions)</th>
                <th title="@Html.ToolTipFor(m => Model.FirstOrDefault().ProcentTransmission)">@Html.LabelFor(model => Model.FirstOrDefault().ProcentTransmission)</th>
            </tr>
        </thead>
        <tbody id="tableContent">
            @foreach (var typeModel in Model)
            {
                <tr class="trData">
                    <td class="graphInputButton"> <input value="@typeModel.EpisodeType" type="image" class='graphButton' img src="~/Content/img/graph_icon.png" title="Show graph"></td>
                    <td class="episodeType">@Html.DisplayFor(modelItem => typeModel.EpisodeType)</td>
                    <td class="cellWithNumber">@Html.DisplayFor(modelItem => typeModel.Transmissions)</td>
                    <td class="cellWithNumber">@Html.DisplayFor(modelItem => typeModel.ProcentTransmission) %</td>
                </tr>
            }
        </tbody>
    </table>



<div id="overlay">
    <div id="container">
        <div id="graphContainer">
        </div>

        <table id="datatable" style="display:none">
            <thead id="graphHead">

            </thead>
            <tbody id="graphData"></tbody>
        </table>
    </div>
</div>

<div id="dialog" style="min-width: 400px;">
    <div id="container" style="min-width: 400px; min-height: 400px; ">
        <div class="ui-widget"
             style="display: table-cell;
                    vertical-align: middle;
                    height: 35px;">
            <label for="patientTags" style="padding-right:3px;">Search:</label>
            <input id="patientTags" type="text" onkeyup="patientSearch()" style="width: 150px;" />
        </div>
        <br />
        <table id="patientTable"></table>
        <br />
        <button type="button" id="confirm" class="patientButton" onclick="alertFunction()">Submit</button>
        <button type="button" id="cancel" class="patientButton">Cancel</button>
    </div>
</div>
